<div class="section" id="main-class-implementation">
    <h2 class="title">Implementing the Application in the Main Class</h2>
    <p>
        In this section, you will implement the entire application inside the <code>Main</code> class, without creating additional objects. The goal is to understand the challenges of procedural programming before transitioning to Object-Oriented Programming (OOP).
    </p>

    <p>
        You can start with the following code, it's just a simple program that prints "Hello World" and imports Scanner class that we will need later, it's a good starting point.
    </p>
    {{{ insertBundle "starter" }}}
</div>