<div class="codebundle" style="margin-top: 1em; position: relative; cursor: pointer;">
    {{#each files}}
    <pre class="codefile" data-filename="{{ filename }}" style="display: none;">{{{ content }}}</pre>
    {{/each}}
</div>